# Build folders
Debug/
Release/
build/

# Object and binary files
*.o
*.d
*.elf
*.hex
*.bin
*.map
*.list

# STM32CubeIDE / Eclipse files
.metadata/
.settings/
*.launch
*.log

# Temporary and backup
*.bak
*.tmp
*~

# OS files
.DS_Store
Thumbs.db